
.vs/SilverCity/v15/.suo
.vs/SilverCity/v15/Server/sqlite3/db.lock
.vs/SilverCity/v15/Server/sqlite3/storage.ide
.vs/SilverCity/v15/Server/sqlite3/storage.ide-shm
.vs/SilverCity/v15/Server/sqlite3/storage.ide-wal
.vs/SilverCity/v16/.suo
.vs/SilverCity/v16/Server/sqlite3/db.lock
.vs/SilverCity/v16/Server/sqlite3/storage.ide
.vs/SilverCity/v16/Server/sqlite3/storage.ide-shm
.vs/SilverCity/v16/Server/sqlite3/storage.ide-wal
